DirectoryIndex index.html

<IfModule mod_rewrite.c>
	RewriteEngine On

    <!-- Remap /resume to /resume/RodrigoSobralResume.pdf and /resume_simplified to /resume/simplified/cv-en.pdf -->
    RewriteRule ^/resume/?$ /resume/RodrigoSobralResume.pdf [L]
    RewriteRule ^/resume_simplified/?$ /resume/simplified/cv-en.pdf [L]
    RewriteRule ^/thesis/?$ /docs/thesis.pdf [L]

    <!-- Redirect to HTTPS and non-www -->
    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteRule ^ https://%{HTTP_HOST:4}%{REQUEST_URI} [L,R=301]

    <!-- Block hidden files except .well-known -->
    <!-- RewriteRule "(^|/)\.(?!well-known\/)" - [F] -->
    RewriteRule ^(?!\.well-known/).* - [F,L]
</IfModule>
